  /*width: 100vw;  100% de la largeur de la fenêtre */
  /*height: 100vh;  100% de la hauteur de la fenêtre */

body {
  position:relative;
  }
  
.navbar {
  position:relative;
}

.carousel-item {
  position:relative;
  color:white;
  height:60vh;
  background:black;
}

.overlay-image{
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  top:0;
  background-position: center;
  background-size: cover;
  opacity:0.9;
}

.container {
 position:absolute; 
 bottom:0;
 left:0;
 right:0;
 padding-bottom:55px;
}